html, body {
    font-size: 18px;
    font-family: overpass;
    height: 100vh; /* Full height of the viewport */
    /* overflow: hidden;  Prevent scrolling */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8%;
}

h1 {
    margin: 0;
    font-size: 48px;
}

h2 {
    font-size: 28px;
}

.descriptionbox {
    width: 50%;
    height: 80%;
    flex: 1;
    transform: scale(1);
    background-color: rgb(226, 220, 252, .6);
    border-radius: 10px;
    padding: 5px;
}

.photobox {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 50%;
    flex: 1;
    margin: 0;
    padding-right: 3%;
    height: 80%;
}

.photobox img {
    border-radius: 10px;
}

header {
    display: flex;
    height: 70px;
    flex-shrink: 0;
    justify-content: space-between;
}

header img {
    margin: 5px;
    margin-left: 180%;
    height: 70px;
    max-width: auto;
}

.navigation, .list {
    font-size: 22px;
    list-style-type: none;
    display: flex;
    gap: 35px;
    margin-right: 66px;
}