html, body {
    font-size: 18px;
    font-family: overpass;
    height: 100vh; /* Full height of the viewport */
    /* overflow: hidden;  Prevent scrolling */
    display: flex;
    flex-direction: column;
}

main {
    border: 1px solid #000;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 48px;
}

h2 {
    font-size: 28px;
}

.descriptionbox {
    border: 1px solid #8bd10a;
    width: 50%;
    height: 80%;
    flex: 1;
    transform: scale(1);
    background-color: rgb(226, 220, 252, .6);
}

.photobox {
    display: flex;
    align-items: right;
    justify-content: right;
    border: 1px solid #060ade;
    width: 50%;
    flex: 1;
    margin: 0;
    padding-right: 3%;
    height: 80%;
}

.photobox img {
    
}

header {
    height: 55px;
    flex-shrink: 0;
}